<!-- <nav  *ngIf="true" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MOINTERING</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="Labour">LABOUR <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MATERIALS</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->
    <!-- <form>
   <div class="mb-3">
 <div class="form-Check">
   <input  class ="form-Check-input" type="radio" name="CIVIL" value="civil">
   <label class="form-check-label" >CIVIL</label>

 </div>
    
 <div class="form-Check">
    <input  class ="form-Check-input" type="radio" name="CIVIL" value="electrical">
    <label class="form-check-label" >ELECTRICAL</label>
 
  </div>
</div>
</form> -->
<!-- 
<button type="button" value="mybutton1" (click)="loadData()">Click Me!</button>

<table border ="1">
    <p>2016 -> Labour record </p>
    <tr>
      
      <th>    Code</th>
      <th>    Unitvalue</th>
      <th>  Description</th>
      <th>   Civ_Elec</th>
      <th>     Schyear</th>
      <th>   Rate in rs</th>
    
  
    </tr>
    <tr *ngFor="let product of Products">
      <td> {{product.Code}}</td>
      <td> {{product.Unitvalue}}{{name}}</td>
      <td> {{product.Description1}}</td>
      
      <td> {{product.Civ_Elec}}</td>
      <td> {{product.Schyear}}</td>
      <td> {{product.Rate}}</td>
  
    </tr>
  </table> -->



  <!-- <app-drop></app-drop> -->

   <!-- <app-ass></app-ass>
   <app-civ2007></app-civ2007>
   <app-elec2014></app-elec2014>
   <app-civil2012></app-civil2012>
   <app-elec2012></app-elec2012> -->
 <!-- <app-analysisf></app-analysisf> -->

<router-outlet></router-outlet>
