<h1>new rates ADD form</h1>
<form [formGroup]="form" class="lol">
  <div class="mb-3">
    <!-- <label >SELECT</label> -->
    <div class="form-check">
      <input class="form-check-input" type="radio" formControlName="Civ_Elec"(click)="civilyearofsr2007()" value="CIVIL" >
      <label class="form-check-label">CIVIL</label>
      &nbsp;&nbsp;
      <input class="form-check-input" type="radio"  formControlName="Civ_Elec" (click)="electricalyearof2007()" value="ELECT" >
      <label class="form-check-label">ELECTRICAL </label>
    </div>
    </div>

    <div  *ngIf=show class="form-group" >
      <select (click)="subhead1()"   
       required class="custom-select"  formControlName="year">
        <option value="" >select year</option>
      <option  *ngFor="let city of dropciv"   [ngValue]="city._id"> {{city._id}} </option>
      </select> 
      
      
    
     </div>
     <div *ngIf=show1 class="subhead">
      <select    required class="custom-select"  formControlName="subheadcode"> 
                
       <option value="" >Select Chapter </option>
     <option  *ngFor="let city of ash"   [ngValue]="city._id.as"> {{city._id.as}}-{{city._id.qw}} </option>
     </select>
     <br>
    
     </div>
     &nbsp; &nbsp; &nbsp;
     <br>
     <div>
      <select  required class="custom-select"  formControlName="subheaddes"> 
        <option value="" >Select Subhead description </option>
<option  *ngFor="let city of ash"   [ngValue]="city._id.qw"> {{city._id.qw}} </option>
</select>
<br>
<br>
<br>
     <mat-form-field class="example-full-width">
      <input matInput placeholder="Itemcode"  formControlName="itemcode" >
    </mat-form-field>
  </div>
<div class="row">
  &nbsp; &nbsp; &nbsp;
  <mat-form-field >
    <input matInput placeholder="MasterCode1"  formControlName="MasterCode1" >
  </mat-form-field>&nbsp; &nbsp; &nbsp;
  <mat-form-field >
    <input matInput placeholder="SubMasterCode1"  formControlName="SubMasterCode1" >
  </mat-form-field>&nbsp; &nbsp; &nbsp;
  <mat-form-field >
    <input matInput placeholder="Subcode1"  formControlName="SubCode1" >
  </mat-form-field>&nbsp; &nbsp; &nbsp;
  <mat-form-field >
    <input matInput placeholder="SSubcode1"  formControlName="SSubcode1" >
  </mat-form-field>&nbsp; &nbsp; &nbsp;
  
</div>
    <br>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description"  formControlName="description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="unit"  formControlName="unit" >
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="unitvalue"  formControlName="unitvalue" >
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="rate"  formControlName="rate" >
    </mat-form-field>
    <button  mat-raised-button  [disabled]='!form.valid'  color="accent" (click)="submit()">save</button>
    &nbsp; &nbsp; &nbsp; <button  mat-raised-button   color="warn" (click)="reset()">reset</button>
</form>
  

