




<body>
 
   <header>
<div class="title">
  <h1 class=" animated slideInUp"> CONTRACTOR MONITORING SYSTEMS </h1>
</div>
    <!-- <img class="responsive"  src="assets/construction1.jpg"> -->
 <div class="button">
   <div class="animated slideInDown" >
  <a class="btn" routerLink="/main">LOGIN </a> 
</div>
 </div>

  </header>

</body>
<!-- <div>
<a class="nav-link" routerLink="/main">Login <span class="sr-only">(current)</span></a> </div><br>
<p id="lbladdress" style="color:Brown;font-size:Large;font-weight:bold;">
  Info Jyothi Software Consultancy, Old.No.148/8, New No.28, I Floor, Habibullah Road, T.Nagar, 
  Chennai - 600017 Tel: 044-65651108</p>
</div> -->

